<!--header-->
<%-include('./_header')%>

<div class="container-fluid p-4 bg-dark text-white">
    <h1>CRUD APPLICATION</h1>
    <h1> UPDATE USER FORM</h1>
    </div>
  <div class="All_user pt-3">
      <a href="/"><i class="fas fa-users"></i>View all Users</a>
  </div>
  <div class="container mt-3">
      <!--form-->
      <%-include('./_form')%>
      </div>

<!--footer-->
<%-include('./_footer')%>